@font-face{
font-family: "Ailerons";
src: url("fonts/Ailerons-Typeface.otf") format("opentype");
}
body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
}
.background-home{
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Ailerons";
  font-size: 20px;
}
.hud-big-container{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  transition: width 1.5s;
  position: relative;
}
.hud-big-container.small{
  width: 80%;
}
.hud-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  height: 10vh;
  font-family: "Ailerons";
  font-size: 40px;
  perspective: 600px;
}
.bottom-hud{
  bottom: 80px;
}
.top-hud{
  top: 80px;
}
.hud-piece{
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  width: 300px;
  height: 150px;
  cursor: pointer;
}
.hud-piece span{
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-property: color background;
  transition-duration: 1s;
  will-change: color background;
}
.hud-piece:hover span{
  background: white;
  color: black;
  border: 2px solid black;
}
.button-toggle-menu{
  font-family: "Ailerons";
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  width: 40px;
  height: 40px;
  background: black;
  color:white;
  border-radius: 40px;
  position: fixed;
  right: 10px;
  top: 50%;
  cursor: pointer;
  z-index: 100;
  transform: translateX(0%);
  transition-property: transform color background;
  transition-duration: 1s;
  will-change: transform color background;
}
.menu
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
}

.menu .inner
{
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    padding: 20px 40px;
    background: black;
    font-family: "Ailerons";
    color: #ffffff;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 1s;
    will-change: transform;

}
.menu.open .inner
{
    transform: translateX(0%);
}
.button-toggle-menu.move{
  transform: translateX(-600%) rotate(180deg);
  background: white;
  color:black;
}
.button-hover{
  cursor: pointer;
  color: white;
  position: relative;
  font-size: 25px;
  margin-left: 10%;
}
.button-hover:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.4s;
}
.button-hover:hover:after {
  width: 100%;
}
